.footer {
    margin-top: 320px; /* pushes it down */
}

.footer p {
    font-weight: 600;
    color: rgb(75, 85, 99);
    font-size: 14px;
    padding: 20px;
    margin-left: 50px;
}

.texts  p{
    display: inline-block;
}

.gitLink {
    float: right;
    margin-right: 50px;
}

.gitLink a {
    color: white;
}