

.texts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.texts h1, .texts p {
    margin: 0;
}


.texts h1 {
    color: white;
    margin-top: 150px;
    font-weight: bold;
    font-size: 48px;
}

.texts p {
    color: white;
    margin-top: 20px;
}
